Options -Indexes
LimitRequestBody 10485760

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>

<FilesMatch "\.(env|log|sql|sqlite|db|md)$">
  Require all denied
</FilesMatch>
